@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: black;
    --secondaryColor: white;
    --alternativeColor: gray;
}

body{
    font-family: Roboto, 'sans-serif';
    color: var(--primaryColor);
}