*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

ul{
    display: flex;
    list-style: none;
}

li > a{
    padding: 10px;
    color: #000;
    text-decoration: none;
}